@model IEnumerable<FrontEndMVC.Models.PostViewModel>

<h1>Posts</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <h3>@post.Content</h3>
                <p>Created by: @post.UserName on @post.CreatedAt</p>
                <a asp-action="Comments" asp-controller="Post" asp-route-postId="@post.Id">View Comments</a>
            </li>
        }
    </ul>
}
else
{
    <p>No posts available.</p>
}
